*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    font-family: 'montserrat', sans-serif;
    color: black;
}



/* BARRA NAVEGADORA FIJA SUPERIOR */
.menu-superior{
    display: flex;
    background-color:rgb(255, 255, 255);
    height: 4.5em;
    position: sticky;
    top:0;
    padding:10px;
    box-shadow: 0px 0px 20px 0px rgb(167, 167, 167);
    align-items:center;
    justify-content: flex-end;
}
.atajos{
    display: flex;
    margin-right: 5em;
    gap: 3em;
    align-items: center;
}
.mayusculas{
    text-transform:uppercase;
    font-weight:bold;
}
button{
    background-color: darkorange;
    width: auto;
    border-radius: 20px;
    padding: 10px;
}



/* PRIMERA SECCION DE PRESENTACION */
.primerseccion{
    height: 39em; 
    width: 100%;
    background-color: rgb(243, 243, 243);  
}
.presentacion{
    background-color: aqua;
    line-height: 3em;
    width: 30em;
    height: 12.5em;
    margin-left: 10em;
    position: relative;
    top: 170px;
}
.imagen{
    margin-left: 47em;
    margin-top: -5em;
}



/*SEGUNDA SECCION DE PRESENTACION */
.conocimiento{
    display: grid;
    height: 50em;
    background-color: aqua;
}
.cononcimiento div{

}


/*HOOVER ES PARA CAMBIAR EL COLOR CUANDO PASAS POR ARRIBA */


